*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    
    
    
}
header{
    border:  1px solid seashell 
}
header img{
    text-align: left;
    height: 50px;
}

nav{
    text-align: right;
    margin: 30px;
}

nav li{
    display: inline-block;
    margin: 5px;
}

#Mission{
    text-align: center;
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Mission h2{
    padding: 40px;
    margin: 0px;
    background-color: transparent;
    color: black;
    font-size: 30px;
}

#Mission h5{
    opacity: 1;
    width: 100%;
    border: 1px solid seashell;
    padding: 50px;
    margin-top: 300px ;
    text-align: center;
   
}

#FeaturedTea{
    text-align: center;
    width: 1000px;
  padding: 50px;
  margin: 0px auto;
  
}

#FeaturedTea h2{
    font-size: 30px;
    margin-bottom: 30px;
}

#FeaturedTea p{
    font-size: 25px;
    margin-bottom: 20px;

}
#FeaturedTea img{
    width: 300px;
    height: 200px;
    margin: 10px;
   display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px, auto;
}

figcaption{
    margin: 10px;
    margin-top: 0px;
}

figure{
    display: inline-flex;
    
    flex-direction: column;
   
}

#Locations{
   
    height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#Locations h2{
    text-align: center;
    padding: 40px;
    margin: 40px;
    background-color: transparent;
    font-size: 30px;
    color: black;
}

.Downtown{
    margin-bottom: 50px;
    padding: 40px;
    text-align: center;

}

.EastBayside{
    margin-bottom: 50px;
    padding: 40px;
}

.Oakdale{
    margin-bottom: 50px;
    padding: 40px;
}

.Downtown, .EastBayside, .Oakdale{
    display: inline-block;
}


footer{
    text-align: center;
    height: 200px;
    margin-top: 40px;
    font-size: 25px;
    padding: 40px;
}

footer h5{
    margin-top: 40px;
}

.last{
    text-align: left;
}

footer p{
    text-align: right;
}

@media only screen and (min-width: 480px)
{
    #FeaturedTea{
        width: 1500px;
    }
}